###############Docker compose services versions###############
PHP_VERSION=8.3
XDEBUG_VERSION=3.4.4

###############Common###############
HTTP_USER=www-data

###############XDebug###############
PHP_XDEBUG_MODE=debug
HOST_DOCKER_INTERNAL_IP=172.17.0.1

###############NGINX###############
WORDPRESS=wordpress
CACHE_CONTROL='no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0'
NGINX_LISTEN_PORT=80

###############App###############
DB_NAME=project
DB_USER=project
DB_PASSWORD=project
DB_HOST=db
DB_CHARSET=utf8
DB_COLLATE=
DB_TABLE_PREFIX=wp_
WP_LANG=pt_BR
WP_HOME=http://localhost
WP_SITEURL=http://localhost/wp
AUTH_KEY='put your unique phrase here'
SECURE_AUTH_KEY='put your unique phrase here'
LOGGED_IN_KEY='put your unique phrase here'
NONCE_KEY='put your unique phrase here'
AUTH_SALT='put your unique phrase here'
SECURE_AUTH_SALT='put your unique phrase here'
LOGGED_IN_SALT='put your unique phrase here'
NONCE_SALT='put your unique phrase here'
MULTISITE=false
SUBDOMAIN_INSTALL=false
DOMAIN_CURRENT_SITE=localhost
PATH_CURRENT_SITE=/
WP_DEBUG=true
LOG_STREAM=php://stdout
LOG_LEVEL=debug
THEME_ACTIVE=aztlan

###############Build###############
UPLOADS_DIR=public/packages/uploads
GLOTPRESS_PROJECT_ENV_URL=https://translate.aztecweb.net/projects/aztlan/staging

###############Docker Build###############
VERSION=0.1
REGISTRY_ENDPOINT=localhost:5000
REPOSITORY_NAME=aztlan

###############Install###############
WP_TITLE=WordPress
WP_USER=admin
WP_PASSWORD=admin
WP_EMAIL=admin@admin.com
PERMALINK="/%postname%/"
DEACTIVATE_PLUGINS=""

###############MySQL###############
MYSQL_DATABASE=project
MYSQL_USER=project
MYSQL_PASSWORD=project

###############Repman###############
REPMAN_TOKEN=
