$white: #fff;
$piper: #cb4a23;
$daintree: #002d3c;

body {
  background: $daintree;
  color: $white;
}

.welcome {
  margin-top: 10rem;
  text-align: center;

  &__title {
    margin: 5rem 0 3rem;
  }

  &__links {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
    }

    a {
      background: $piper;
      color: $white;
      display: block;
      padding: 0.5rem 1rem;
      text-decoration: none;

      &:hover {
        background: darken($piper, 10%);
      }
    }
  }
}
