server {
    listen 80;
	server_name _;

    # Directory settings
    root /app/public;
	index index.php;

	add_header    'Cache-Control' '${CACHE_CONTROL}';
	expires       off;

    # Load shared global settings
    include conf.d/server/*.conf;
	include conf.d-from-template/server/*.conf;
}
