<?xml version="1.0"?>
<ruleset name="aztlan">
    <description>The PHP coding standard.</description>

    <arg name="extensions" value="php" />
    <arg value="-colors" />
    <arg value="ns" />

    <!--
         Use WordPress coding standard
         https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards
         https://make.wordpress.org/core/handbook/best-practices/coding-standards/php/
     -->
    <rule ref="WordPress">
        <exclude name="Squiz.Commenting.ClassComment" />
        <exclude name="Squiz.Commenting.FileComment" />
        <exclude name="Squiz.Commenting.FunctionComment" />
        <exclude name="Squiz.Commenting.VariableComment" />
    </rule>

    <!-- Force declare(strict_types = 1) use -->
    <rule ref="Generic.PHP.RequireStrictTypes" />

    <!-- Sniff the template and files -->
    <file>/app/inc/src</file>
    <file>/app/themes</file>
    <file>/app/deploy/deploy.php</file>

    <!-- No sniff assets files -->
    <exclude-pattern>*.(js|css)</exclude-pattern>
</ruleset>
